here# Copy this file to .env and fill in the values
PORT=3000
NODE_ENV=development

DB_HOST=localhost
DB_PORT=5432
DB_USER=aniverse_app
DB_PASSWORD=
DB_NAME=aniverse_base
DB_SCHEMA=public
DB_SSL=false

JWT_SECRET=

ANIME_DB_HOST=localhost
ANIME_DB_PORT=5432
ANIME_DB_USER=__PLACEHOLDER__
ANIME_DB_PASSWORD=
ANIME_DB_NAME=__PLACEHOLDER__
ANIME_DB_SCHEMA=public

