<page-header></page-header>
<div class="content-section">
  <div class="card">
    <h5>Invalid</h5>
    <div class="p-field">
      <label for="username2">Username</label>
      <input id="username2" type="username" aria-describedby="username2-help" class="ng-invalid ng-dirty" pInputText />
      <small id="username2-help" class="p-error">Username is not available.</small>
    </div>

    <p-button label="Submit"></p-button>


    <h5>Basic</h5>
    <input type="text" pInputText [(ngModel)]="value1">
  </div>
</div>
